<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-toolbar">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-content-auth-page">
    <ion-grid class="grid-text-center" fixed>

      <form [formGroup]="signInForm" (ngSubmit)="submitSignInForm()">
        <div formGroupName="user">

          <ion-row class="margin-bottom-small">
            <ion-col>
              <ion-item>
                <ion-input placeholder="Email / Phone" class="input-field" id="email" autocapitalize="on" formControlName="email" required></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="margin-bottom-medium">
            <ion-col>
              <ion-item>
                <ion-input placeholder="Password" class="input-field" id="password" type="password" formControlName="password" required></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="margin-bottom-small">
            <ion-col>
              <ion-button class="submit-button" expand="block" type="submit" [disabled]="!signInForm.valid">
                <strong>Log in</strong>
              </ion-button>
            </ion-col>
          </ion-row>

        </div>
      </form>

      <ion-row>
        <ion-col>
          <a [routerLink]="['/register']">Or new user? Create an account</a>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <a (click)="resetPassword()">Forgot password?</a>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>
