<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-toolbar">Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-content-auth-page">
    <ion-grid class="grid-text-center" fixed>

      <form [formGroup]="signUpForm" (ngSubmit)="submitSignupForm()">
        <div formGroupName="user">

          <ion-row class="margin-bottom-small">
            <ion-col>
              <ion-item>
                <ion-label class="required-field">*</ion-label>
                <ion-input placeholder="Email / Phone" class="input-field" id="email" autocapitalize="on" formControlName="email" required ngDefaultControl></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="margin-bottom-small">
            <ion-col>
              <ion-item>
                <ion-label class="required-field">*</ion-label>
                <ion-input placeholder="Password" class="input-field" type="password" id="password" autocapitalize="on" formControlName="password" required ngDefaultControl></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="margin-bottom-small">
            <ion-col>
              <ion-item>
                <ion-label class="required-field">*</ion-label>
                <ion-input placeholder="Confirm Password" class="input-field" type="password" id="password_confirmation" autocapitalize="on" formControlName="password_confirmation" required ngDefaultControl></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="margin-bottom-small">
            <ion-col>
              <ion-item>
                <ion-input placeholder="Name" class="input-field" id="name" autocapitalize="on" formControlName="name"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="margin-bottom-small">
            <ion-col>
              <ion-item>
                <ion-input placeholder="Second name" class="input-field" id="second_name" autocapitalize="on" formControlName="second_name"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="margin-bottom-medium">
            <ion-col>
              <ion-item>
                <ion-input placeholder="Passport" class="input-field" id="passport" autocapitalize="on" formControlName="passport"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        
          <ion-row class="margin-bottom-small">
            <ion-col>
              <ion-button class="submit-button" expand="block" full type="submit" [disabled]="!signUpForm.valid">
                <strong>Sign up</strong>
              </ion-button>
              <ion-button class="submit-button" expand="block" [routerLink]="['/login']">
                <strong>Alreday a User? Log in here</strong>
              </ion-button>
            </ion-col>
          </ion-row>

        </div>
      </form>

   </ion-grid>
  </div>
</ion-content>

